---
# Copy to secrets.yml and encrypt: ansible-vault encrypt secrets.yml --vault-password-file vault_password.txt
# Generate password: openssl rand -hex 16

grafana_admin_password: "CHANGE_ME"
victoriametrics_auth_username: "metrics"
victoriametrics_auth_password: "CHANGE_ME"
