{
  "routing": {
    "domainStrategy": "{{ xray_bridge_domain_strategy | default('IPIfNonMatch') }}",
    "rules": [
      {% if xray_bridge_blocked_domains | default([]) | length > 0 %}
      {
        "type": "field",
        "domain": [
          {% for domain in xray_bridge_blocked_domains %}
          "{{ domain }}"{{ "," if not loop.last }}
          {% endfor %}
        ],
        "outboundTag": "blocked"
      },
      {% endif %}
      {% if xray_bridge_direct_domains | default([]) | length > 0 %}
      {
        "type": "field",
        "domain": [
          {% for domain in xray_bridge_direct_domains %}
          "{{ domain }}"{{ "," if not loop.last }}
          {% endfor %}
        ],
        "outboundTag": "direct"
      },
      {% endif %}
      {% if xray_bridge_direct_ips | default([]) | length > 0 %}
      {
        "type": "field",
        "ip": [
          {% for ip in xray_bridge_direct_ips %}
          "{{ ip }}"{{ "," if not loop.last }}
          {% endfor %}
        ],
        "outboundTag": "direct"
      },
      {% endif %}
      {
        "type": "field",
        "inboundTag": [
          "{{ xray_bridge_tag_in }}"
          {% if xray_bridge_transparent_enabled | default(false) %},
          "{{ xray_bridge_transparent_reality_tag }}",
          "{{ xray_bridge_transparent_xhttp_tag }}",
          "{{ xray_bridge_transparent_reality_v2_tag }}",
          "{{ xray_bridge_transparent_xhttp_v2_tag }}"
          {% endif %}
        ],
        "outboundTag": "{{ xray_bridge_tag_out }}"
      }
    ]
  }
}
