  {
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {% if xray_blocked_domains | length > 0 %}
      {
        "type": "field",
        "domain": [
          {% for domain in xray_blocked_domains %}
          "{{ domain }}"{{ "," if not loop.last }}
          {% endfor %}
        ],
        "outboundTag": "blocked"
      },
      {% endif %}
      {% if xray_api.enable %}
      {
        "type": "field",
        "inboundTag": ["{{ xray_api.inbound.tag }}"],
        "outboundTag": "{{ xray_api.inbound.tag }}"
      },
      {% endif %}
      {
        "type": "field",
        "inboundTag": [
          "{{ xray_common.inbound_tag.vless_reality_in }}",
          "{{ xray_common.inbound_tag.vless_xhttp_in }}"
        ],
        "outboundTag": "freedom"
      }
    ]
  }
}    