listen: :{{ item.port }}
tls:
  cert: {{ hysteria_conf_dir }}/cert.pem
  key: {{ hysteria_conf_dir }}/key.pem
obfs:
  type: {{ item.obfs_type }}
  {{ item.obfs_type }}:
    password: {{ item.obfs_password }}
{% if item.auth_mode | default('password') == 'http' %}
auth:
  type: http
  http:
    url: {{ hysteria_auth_http_url }}
    insecure: false
{% else %}
auth:
  type: password
  password: {{ hysteria_auth_password }}
{% endif %}
masquerade:
  type: proxy
  proxy:
    url: {{ hysteria_masq_url }}
    rewriteHost: true
