{
  "inbounds": [
    {
      "tag": "{{ xray_common.inbound_tag.vless_xhttp_in }}", 
      "settings": {
        "clients": [          
          {% for user in xray_users %}
          {
            "id": "{{ user.id }}",
            "flow": "",
            "email": "{{ user.email | default('') }}",
            "level": 0
          }{{ "," if not loop.last }}
          {% endfor %}
        ],
         "decryption": "none"
      }
    }
  ]
}