{
  "inbounds": [
    {
      "tag": "{{ xray_common.inbound_tag.vless_reality_in }}",
      "settings": {
        "clients": [
          {% set _pq = xray_vless_decryption | default('none') != 'none' %}
          {% for user in xray_users %}
          {% set _flow = user.flow | default(xray_vless_default_flow) %}
          {
            "id": "{{ user.id }}",
            "flow": "{{ 'xtls-rprx-vision' if _pq else _flow }}",
            "email": "{{ user.email | default('') }}",
            "level": 0
          }{{ "," if not loop.last }}
          {% endfor %}
        ],
        "decryption": "{{ xray_vless_decryption | default('none') }}"
      }
    }
  ]
}