[Interface]
Address = {{ hostvars[inventory_hostname].wg_ip | default(wg_ru_ip) }}/24
PrivateKey = {{ hostvars[inventory_hostname].wg_private_key | default(wg_ru_private_key) }}

[Peer]
# EU server
PublicKey = {{ wg_eu_public_key }}
Endpoint = {{ hostvars['vm_my_srv']['ansible_host'] }}:{{ wg_port }}
AllowedIPs = {{ wg_eu_ip }}/32
PersistentKeepalive = 25
