apiVersion: 1

datasources:
  - name: "{{ grafana_prometheus_datasource_name }}"
    uid: "{{ grafana_prometheus_datasource_uid }}"
    type: prometheus
    access: proxy
    url: http://{{ victoriametrics_listen }}
    isDefault: true
    editable: false
    basicAuth: true
    basicAuthUser: {{ victoriametrics_auth_username }}
    secureJsonData:
      basicAuthPassword: {{ victoriametrics_auth_password }}
