global:
  scrape_interval: {{ victoriametrics_scrape_interval }}
  scrape_timeout: {{ victoriametrics_scrape_timeout }}

scrape_configs:
  - job_name: xray
    metrics_path: {{ xray_exporter_metrics_path }}
    static_configs:
      - targets:
          - {{ xray_exporter_listen }}

  - job_name: xray-stats
    metrics_path: {{ xray_stats_exporter_metrics_path }}
    static_configs:
      - targets:
          - {{ xray_stats_exporter_listen }}

  - job_name: node
    static_configs:
      - targets:
          - {{ node_exporter_listen }}
        labels:
          server: eu
          instance: "{{ hostvars['vm_my_srv']['ansible_host'] }}"
      - targets:
          - {{ node_exporter_ru_scrape }}        # WireGuard → RU:9100
        labels:
          server: ru
          instance: "{{ hostvars['vm_my_ru']['ansible_host'] }}"
